img{
    width:300px;
    max-height:300px;
  }
  
  #tiger{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(39% at 50% 50%);
  }

 #car {
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 50%;
  }